<script src="node_modules/vega/build/vega.js"></script>
<script src="node_modules/vega-lite/build/vega-lite.js"></script>
<script src="node_modules/vega-embed/build/vega-embed.js"></script>
<script src="vega-embed-here.js"></script>
